<ion-content scroll="false" padding>
  <ion-slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>
    <ion-slide *ngFor="let slide of slideContent">
      <div class="ion-margin-bottom slide-img-container">
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="circle-3"></div>
        <ion-img [src]="slide.imgUrl" class="slide-image"></ion-img>
      </div>
      <ion-text class="ion-text-capitalize ion-padding-top h6">{{ slide.title }}</ion-text>
      <ion-text class="ion-padding-top ion-padding-horizontal ion-margin-horizontal subtitle-1">{{ slide.subtitle }}</ion-text>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer class="ion-no-padding" no-border>
  <ion-button class="ion-no-margin" [color]="showSkip ? 'light' : ''" (click)="startApp()">
    {{ buttonMsg }}
  </ion-button>
</ion-footer>