<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categorypage">

      </ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedActivity.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
          <ion-img [src]="loadedActivity.imgUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 text-center>{{ loadedActivity.name }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <h2 text-center>{{ loadedActivity.description }}</h2>
        </ion-col>
      </ion-row>
    <ion-row>
        <ion-col>
          <ion-list>
          <ion-item>
            <ion-icon name="body"></ion-icon>{{ loadedActivity.provider }}
          </ion-item>
          <ion-item>
            <ion-icon name="pricetags"></ion-icon>Php {{ loadedActivity.price }}
          </ion-item>
          <ion-item>  
            <ion-icon name="pin"></ion-icon>{{ loadedActivity.location }}
          </ion-item>
          <ion-item>  
            <ion-icon name="star"></ion-icon>{{ loadedActivity.rating }} / 5.0
          </ion-item>
        </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button>Add to Favorites</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button>Book Activity</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
  
</ion-content>
