<ion-header *ngIf="!isLoading">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button
        mode="md"
        defaultHref="/app/tabs/offers"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Offer</ion-title>
    <ion-buttons slot="end" mode="md">
      <ion-button (click)="onSave()" [disabled]="!form.valid">
        <ion-icon mode="md" name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!isLoading">
  <form [formGroup]="form">
    <ion-list-header mode="ios">Activity Details</ion-list-header>
    <div>
      <ion-item lines="none" mode="md">
        <ion-label mode="md" position="floating">Activity Name</ion-label>
        <ion-input
          type="text"
          formControlName="name"
          autocapitalize
        ></ion-input>
      </ion-item>

      <ion-item lines="none" mode="md">
        <ion-label mode="md">Activity Type</ion-label>
        <ion-select interface="popover" formControlName="activityType">
          <ion-select-option value="Day Hiking">Day Hiking</ion-select-option>
          <ion-select-option value="Mountaineering"
            >Mountaineering</ion-select-option
          >
          <ion-select-option value="Bike Packing"
            >Bike Packing</ion-select-option
          >
          <ion-select-option value="Skin Diving">Skin Diving</ion-select-option>
          <ion-select-option value="Birding">Birding</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" mode="md">
        <ion-label mode="md" position="floating">Description</ion-label>
        <ion-textarea
          type="text"
          formControlName="description"
          rows="6"
        ></ion-textarea>
      </ion-item>

      <ion-item lines="none" mode="md">
        <ion-label mode="md" position="floating">Location</ion-label>
        <ion-input type="text" formControlName="location"></ion-input>
      </ion-item>

      <ion-item lines="none" mode="md">
        <ion-label mode="md" position="floating">Price (per person)</ion-label>
        <ion-input type="number" formControlName="price"></ion-input>
      </ion-item>

      <ion-item lines="none" mode="md">
        <ion-label mode="md" position="floating">Image URL</ion-label>
        <ion-input type="text" formControlName="imgUrl"></ion-input>
      </ion-item>

      <ion-item lines="none" mode="md">
        <ion-label mode="md" position="floating">Number to Contact</ion-label>
        <ion-input type="tel" formControlName="contactDetails"></ion-input>
      </ion-item>
    </div>

    <ion-list-header mode="ios">Activity Schedule</ion-list-header>
    <div>
      <ion-item lines="none" mode="md">
        <ion-label mode="md">Start of Bookable Date</ion-label>
        <ion-datetime formControlName="bookingStart"></ion-datetime>
      </ion-item>

      <ion-item lines="none" mode="md">
        <ion-label mode="md">End of Bookable Date</ion-label>
        <ion-datetime formControlName="bookingEnd"></ion-datetime>
      </ion-item>

      <ion-item lines="none" mode="md">
        <ion-label mode="md" position="floating">Duration</ion-label>
        <ion-input
          type="number"
          formControlName="duration"
          placeholder="Number of days"
        ></ion-input>
      </ion-item>

      <ion-item lines="none" mode="md">
        <ion-label mode="md" position="floating"
          >Max Number of Bookings</ion-label
        >
        <ion-input type="number" formControlName="capacity"></ion-input>
      </ion-item>
    </div>

    <ion-button
      (click)="onSave()"
      class="ion-margin-top"
      expand="block"
      [disabled]="!form.valid"
    >
      SAVE
    </ion-button>
  </form>
</ion-content>
