<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search for a destination or activity"></ion-searchbar>
  

  <ion-card>
    <ion-img src='assets/img/bikepacking.jpg'></ion-img>
    <div class="category-overlay">
      <div class="category-title">BIKE PACKING</div>
    </div>
  </ion-card>
  
  <ion-card>
    <ion-img src='assets/img/mountaineering.jpg'></ion-img>
    <div class="category-overlay">
      <div class="category-title">MOUNTAINEERING</div>
    </div>
  </ion-card>

  <ion-card>
    <ion-img src='assets/img/skindiving.jpg'></ion-img>
    <div class="category-overlay">
      <div class="category-title">SKIN DIVING</div>
    </div>
  </ion-card>

  <ion-card>
    <ion-img src='assets/img/dayhiking.jpg'></ion-img>
    <div class="category-overlay">
      <div class="category-title">DAY HIKING</div>
    </div>
  </ion-card>
  
  <ion-card>
    <ion-img src='assets/img/birdwatching.jpg'></ion-img>
    <div class="category-overlay">
      <div class="category-title">BIRDING</div>
    </div>
  </ion-card>
  
</ion-content>
