<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button mode="md"></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      mode="ios"
      placeholder="Search for a destination or activity"
      [formControl]="searchControl"
      (ionChange)="onSearchInput()"
    ></ion-searchbar>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="funnel" slot="icon-only" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-container">
    <div *ngIf="searching" class="inner-flex-container absolute-center">
      <ion-spinner></ion-spinner>
    </div>
    <div
      *ngIf="!searching && isLoading"
      class="inner-flex-container absolute-center"
    >
      <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="!searching && !isLoading" class="inner-flex-container">
      <div
        class="inner-flex-container absolute-center"
        *ngIf="isActivitiesEmpty"
      >
        <ion-text class="h6">
          No results found
        </ion-text>
        <ion-text class="subtitle-1">
          Nothing came up for that search.
        </ion-text>
      </div>
      <ion-list>
        <app-activity-card
          *ngFor="let activity of activities"
          [activity]="activity"
        ></app-activity-card>
      </ion-list>
    </div>
  </div>
</ion-content>
