<ion-content class="ion-padding-horizontal">
  <div class="subcontainer">
    <ion-img id="logo" src="assets/img/backpack.svg"></ion-img>
    <ion-text class="ion-text-uppercase ion-margin-top h2">Tripid</ion-text>
  </div>
  <div class="subcontainer">
    <ion-button color="inverted-primary" (click)="onLogin()">LOGIN</ion-button>
    <div id="text-on-hr">
      <div class="hr-line"></div>
      <ion-text id ="hr-text" class="subtitle-1" color="inverted-primary">OR</ion-text>
      <div class="hr-line"></div>
    </div>
    <ion-button color="inverted-primary" fill="outline"(click)="onRegister()">CREATE AN ACCOUNT</ion-button>
  </div>
</ion-content>
