ion-content {
  --background: linear-gradient(#9DD8EC, 50%, #7ECF7E);
  --color: #0B485A;
  --overflow: hidden;
}

ion-list {
  background: transparent;
}

ion-input {
  --color: #0B485A;
}

ion-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

ion-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

ion-item {
  --background: rgba(255, 255, 255, 1);
  margin-bottom: 1px;

  ion-label {
    --color: #0B485A;
  }
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 50px;
}

.btn-signin {
  --box-shadow: false;
  --border-radius: 5em;
  //width: 20em;
  height: 3.5em;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.078125em;
  align-self: stretch;
}

#signup {
  margin-top: 50px;
}

app-text-divider {
  align-self: stretch;
}

.text-button {
  text-decoration: underline;
}