// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
ion-menu {
  --max-width: 75vw;
}

#menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom-width: 2px;
  height: 150px;
  border-color: white;
  border-bottom-style: solid;
}

.menu-items {
  width: 100%;
}

#menu-list {
  margin-top: 5px;
  padding: 0;
}

