// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
ion-menu {
  --max-width: 75vw;
}

#menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 65vw;
  background: #f2f2f2;
}

.menu-items {
  width: 100%;
}

#menu-list {
  margin-top: 5px;
  padding: 0;
}

#menu-name {
  font-weight: 500;
  font-size: 20px;
}

#menu-divider {
  background-color: rgba(100, 100, 100, 0.2);
  margin: 1.5em;
  // width: 100%;
  height: 2px;
}
