<ion-app>
  <ion-menu side="start">
    <ion-content>
      <div id="menu-header">
        <ion-avatar>
            <img [src]="'assets/icon/favicon.png'">
        </ion-avatar>
        <ion-text class="h6 ion-padding-top">Juan Dela Cruz</ion-text>
        <ion-text class="subtitle-1 ion-padding-top">Tourist</ion-text>
      </div>
      <div class="ion-padding">
        <ion-list class="ion-padding" id="menu-list">
          <ion-menu-toggle *ngFor="let item of menuItems">
            <ion-item mode="md" lines="none" class="menu-items" [routerLink]="item.link">
              <ion-icon [name]="item.icon" slot="start"></ion-icon>
              <ion-label>{{ item.label }}</ion-label>
            </ion-item>            
          </ion-menu-toggle>
          <div id="menu-divider"></div>
          <ion-menu-toggle>
            <ion-item mode="md" lines="none" (click)="onLogout()" button>
              <ion-icon name="exit" slot="start"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
