<!-- -->
<ion-content>
  <div class="register-content">
    <ion-text class="ion-text-capitalize ion-margin-vertical h2"
      >Sign Up.</ion-text
    >
    <!-- Login form -->
    <form>
      <ion-list mode="md">
        <ion-item mode="md">
          <ion-label mode="md" position="floating">
            Full Name
          </ion-label>
          <ion-input
            type="text"
            [(ngModel)]="fname"
            [ngModelOptions]="{ standalone: true }"
          ></ion-input>
        </ion-item>

        <ion-item mode="md">
          <ion-label mode="md" position="floating">
            Email
          </ion-label>
          <ion-input
            type="email"
            [(ngModel)]="email"
            [ngModelOptions]="{ standalone: true }"
          ></ion-input>
        </ion-item>

        <ion-item mode="md">
          <ion-label mode="md" position="floating">
            <!-- <ion-icon name="lock" item-start class="text-primary"></ion-icon> -->
            Password
          </ion-label>
          <ion-input
            [type]="showPassword ? 'string' : 'password'"
            [(ngModel)]="password"
            [ngModelOptions]="{ standalone: true }"
          ></ion-input>
          <ion-buttons mode="md" slot="end">
            <ion-button (click)="togglePassword()">
              <ion-icon
                [name]="showPassword ? 'eye-off' : 'eye'"
                slot="icon-only"
              ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>

      <!-- <ion-item id="terms" lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>
          Agree to 
          <ion-text color="inverted-primary" class="text-button">Terms</ion-text>
           and 
          <ion-text color="inverted-primary" class="text-button">Privacy Policy</ion-text>
        </ion-label>
      </ion-item> -->
    </form>

    <div class="flex-center">
      <ion-button
        class="btn-signin"
        color="inverted-primary"
        (click)="onSubmit()"
        >SIGN UP</ion-button
      >
      <app-text-divider></app-text-divider>
      <ion-button
        class="btn-signin"
        color="inverted-primary"
        (click)="onGoogleSignUp()"
        fill="outline"
        disabled
      >
        <ion-icon name="logo-google" slot="start"></ion-icon>
        SIGN UP WITH GOOGLE
      </ion-button>
    </div>

    <!-- Other links -->
    <div text-center class="sections" id="signin">
      Already have an account?
      <ion-text
        class="text-button"
        color="inverted-primary"
        (click)="onSwitch()"
        >Sign In</ion-text
      >
    </div>
  </div>
</ion-content>
