#text-on-hr {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#hr-text {
  display: flex;
  // flex-grow: 1;
  justify-content: center;
  margin: 0.75em;
}

.hr-line {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-grow: 1;
  height: 2px
}
