<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/discover" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>My Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-bottom">
  <!-- <ion-card *ngFor="let activity of favorites" color="primary" [routerLink]="['/activity-details', activity.id]">
    <div class="activity-overlay" [ngStyle]="{'background': 'linear-gradient(transparent, transparent, rgba(0,0,0, 0.5)), url(' + activity.imgUrl + ')', 'background-position': 'center center', 'background-size': 'cover'}">
      <div class="activity-subtitle">{{ activity.provider }}</div>
      <div class="activity-title">{{ activity.name }}</div>
    </div>
    <div class="activity-footer">
      <div>
        <ion-icon name="star"></ion-icon>
        <ion-text>  {{ activity.rating | number:'.2-2' }}/5.00</ion-text>
      </div>
      <div>
        <ion-icon name="cash"></ion-icon>
        <ion-text>  {{ activity.price | currency:'PHP' }}</ion-text>
      </div>
    </div>
  </ion-card> -->
  <ion-virtual-scroll [items]="favorites" [approxFooterHeight]="0" [approxHeaderHeight]="0" [approxItemHeight]="400">
    <div *virtualItem="let item">
      <app-activity-card [activity]="item"></app-activity-card>
    </div>
  </ion-virtual-scroll>

  <!-- <ion-list>
    <app-activity-card *ngFor="let favorite of favorites" [activity]="favorite"></app-activity-card>
  </ion-list> -->
  
</ion-content>
