<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/discover" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>My Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-bottom">
  <ion-virtual-scroll [items]="favorites" [approxFooterHeight]="0" [approxHeaderHeight]="0" [approxItemHeight]="0">
    <div *virtualItem="let item">
      <app-activity-card [activity]="item"></app-activity-card>
    </div>
  </ion-virtual-scroll>
</ion-content>
