<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/app/tabs/discover"
        mode="md"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>About Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-img src="assets/img/bridge360-banner.jpeg"></ion-img>
  <ion-list-header mode="ios">
    The Company
  </ion-list-header>
  <ion-list>
    <ion-item lines="full" detail href="https://www.bridge360ph.com/">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label mode="md">Website</ion-label>
    </ion-item>
    <ion-item
      lines="full"
      detail
      href="https://ph.linkedin.com/company/bridge360ph"
    >
      <ion-icon name="logo-linkedin" slot="start"></ion-icon>
      <ion-label mode="md">LinkedIn</ion-label>
    </ion-item>
    <ion-item lines="full" detail href="https://www.facebook.com/Bridge360PH/">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      <ion-label mode="md">Facebook</ion-label>
    </ion-item>
  </ion-list>

  <ion-list-header mode="ios">
    App
  </ion-list-header>
  <ion-list>
    <ion-item lines="full" mode="ios">
      <ion-label mode="md">Changelog</ion-label>
      <ion-note mode="md">Version 0.0.1</ion-note>
    </ion-item>

    <ion-item lines="full">
      <ion-label mode="md">Help/FAQ</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label mode="md">Licenses</ion-label>
    </ion-item>
  </ion-list>

  <ion-list-header mode="ios">
    Privacy
  </ion-list-header>
  <ion-list>
    <ion-item lines="full" mode="ios">
      <ion-label mode="md">Privacy Policy</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label mode="md">Revoke GDFR consent</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-checkbox slot="start" checked mode="md"></ion-checkbox>
      <ion-label mode="md">Send statistics</ion-label>
    </ion-item>
  </ion-list>

  <ion-list-header mode="ios">
    App Developers
  </ion-list-header>
  <ion-list>
    <ion-item
      lines="full"
      detail
      href="https://www.linkedin.com/in/nikkirfernandez/"
    >
      <ion-label mode="md">Nikki Fernandez</ion-label>
    </ion-item>
    <ion-item
      lines="full"
      detail
      href="https://www.linkedin.com/in/igvalencia/"
    >
      <ion-label mode="md">Ian Valencia</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
