<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>Bike Packing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search for a destination or activity"></ion-searchbar>
  <ion-virtual-scroll [items]="activities" [approxFooterHeight]="0" [approxHeaderHeight]="0" [approxItemHeight]="0">
    <div *virtualItem="let item">
      <app-activity-card [activity]="item"></app-activity-card>
    </div>
  </ion-virtual-scroll>
</ion-content>
