<ion-card mode="ios" (click)="goToActDetails()">
  <div class="card-background" [ngStyle]="{'background': 'linear-gradient(rgba(0,0,0, 0.5), transparent, transparent, 80%, rgba(0,0,0, 0.5)), url(' + activity.imgUrl + ')', 'background-position': 'center center', 'background-size': 'cover'}">
    <div class="lower-left">
      <ion-text class="h5">
        {{ activity.name }}
      </ion-text>
      <ion-text class="subtitle-1">{{ activity.bookingStart | date:'mediumDate' }} - {{ activity.bookingEnd | date:'mediumDate' }}</ion-text>
    </div>

    <div class="upper-left">
      <ion-text class="h7">
        <ion-icon class="center-inline" name="pin"></ion-icon>
        <span class="center-inline">
            {{ (activity.location.length > maxLength) ? (activity.location | slice:0:maxLength )+'...' : activity.location }}
        </span>
      </ion-text>
    </div>

    <div class="upper-right">
      <ion-text class="h7">
        <span class="center-inline" >₱ {{ activity.price | number:'.2-2' }}</span>
      </ion-text>
    </div>
  </div>
</ion-card>