<ion-card class="ion-no-margin ion-margin-horizontal ion-margin-top" color="primary" [routerLink]="['/activity-details', activity.id]">
  <div class="activity-overlay" [ngStyle]="{'background': 'linear-gradient(transparent, transparent, rgba(0,0,0, 0.5)), url(' + activity.imgUrl + ')', 'background-position': 'center center', 'background-size': 'cover'}">
    <div class="activity-subtitle">{{ activity.provider }}</div>
    <div class="activity-title">{{ activity.name }}</div>
  </div>
  <div class="activity-footer">
    <div>
      <ion-icon name="star"></ion-icon>
      <ion-text>  {{ activity.rating | number:'.2-2' }}/5.00</ion-text>
    </div>
    <div>
      <ion-icon name="cash"></ion-icon>
      <ion-text>  {{ activity.price | currency:'PHP' }}</ion-text>
    </div>
  </div>
</ion-card>