.activity-overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15em;
  // position: absolute;
  z-index: 99;
  bottom: 0px;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 0.75em;
  justify-content: flex-end;
  align-items: baseline;
}

.activity-title {
  font-size: 1.5em;
  font-weight: 900;
}

.activity-subtitle {
  font-size: 1em;
  font-weight: 900;
  // background: rgba(0, 0, 0, 0.5);
}

.activity-header {
  height: 150px;
  background-color: red;
}

.activity-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-weight: 500;
}

ion-card {
  margin: 0 !important;
}