.card-background {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vw;
  color: #fff;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

.activity-title {
  font-size: 1.5em;
  font-weight: 900;
}

.activity-subtitle {
  font-size: 1em;
  font-weight: 900;
  // background: rgba(0, 0, 0, 0.5);
}

.activity-header {
  height: 150px;
  background-color: red;
}

.activity-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-weight: 500;
}

ion-card {
  // margin: 0 !important;
  border-radius: 20px;
  box-shadow: none !important;
}

.lower-left {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  //background: rgba(0, 0, 255, 0.2);
  padding: 1.25em;
  justify-content: flex-end;
}

.upper-left {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  //background: rgba(0, 255, 0, 0.2);
  padding: 1.25em;
}

.upper-right {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  //background: rgba(0, 255, 0, 0.2);
  padding: 1.25em;
  align-items: flex-end;
}

.lower-right {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  //background: rgba(0, 255, 0, 0.2);
  padding: 1.25em;
  align-items: flex-end;
  justify-content: flex-end;
}

.center-inline {
  display: inline-block;
  vertical-align: middle;
}





