<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/discover" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-slides pager="true">
    <ion-slide>
      <div class="transparent-gradient"></div>
      <ion-img [src]="loadedActivity.imgUrl"></ion-img>
    </ion-slide>
    <ion-slide>
      <div class="transparent-gradient"></div>
      <ion-img [src]="loadedActivity.imgUrl"></ion-img>
    </ion-slide>
    <ion-slide>
      <div class="transparent-gradient"></div>
      <ion-img [src]="loadedActivity.imgUrl"></ion-img>
    </ion-slide>
  </ion-slides>
</ion-header>

<ion-content>
    <ion-fab vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button color="light">
        <ion-icon name="heart" color="primary"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div class="subsection-container" id="title">
      <ion-text class="subtitle-1">{{ loadedActivity.provider }} | {{ loadedActivity.activityType }}</ion-text>
      <ion-text class="heading-1">{{ loadedActivity.name }}</ion-text>
      <ion-text class="subtitle-1">{{ loadedActivity.price | currency:'PHP' }} | {{ loadedActivity.location }}</ion-text>
      <div class="hr-line"></div>
    </div>
    

</ion-content>
