<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-menu-button mode="md"></ion-menu-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
    <ion-buttons mode="md" slot="primary">
      <ion-button [routerLink]="['/app/new-offer']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="offers-container" *ngIf="isOffersEmpty()">
    <ion-text class="h6">
      No activities offered
    </ion-text>
    <ion-button color="primary" routerLink="/app/new-offer"
      >OFFER NEW ACTIVITY</ion-button
    >
  </div>
  <ion-list *ngIf="!isOffersEmpty() && !isLoading">
    <app-activity-card
      *ngFor="let offer of offers"
      [activity]="offer"
      [editMode]="true"
    ></app-activity-card>
  </ion-list>
  <div class="fullscreen flex-center" *ngIf="!isOffersEmpty() && isLoading">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
